@import "colors";

.navbar {
  background-color: $secondary;
  padding: 10px;
  display: flex;
  gap: 15px;

  a {
    color: $third;
    text-decoration: none;
    font-weight: bold;

    &.active {
      text-decoration: underline;
    }
  }
}
