<div class="mainData">
  @if (!olympic) {
    <app-loader/>
  } @else if (olympic && participations) {
    <h3>{{ olympic.country }}</h3>
    <div id="numberContainer">
      <span>
        <p>Nombres de participations</p>
        <p>{{ olympic.participations?.length }}</p>
      </span>
      <span>
        <p>Nombre de médailles</p>
        <p>{{ nbMedailles }}</p>
      </span>
      <span>
        <p>Nombre d'athlètes</p>
        <p>{{ nbAthletes }}</p>
      </span>
    </div>
    <app-line-chart [participations]="participations"/>
  }
</div>
