@if (olympic && participations) {
  <div class="mainData">
    <h2>{{ olympic.country }}</h2>
    <div id="numberContainer">
      <span>
        <p>Nombres de participations</p>
        <p>{{ olympic.participations?.length }}</p>
      </span>
      <span>
        <p>Nombre de médailles</p>
        <p>{{ nbMedailles }}</p>
      </span>
      <span>
        <p>Nombre d'athlètes</p>
        <p>{{ nbAthletes }}</p>
      </span>
    </div>
    <app-line-chart [participations]="participations"/>
  </div>
}
