<!--Le composant parent est crée-->
<div class="mainData">
  <!--  Si il n y a pas encore d'olympic, on affiche un loader-->
  @if (!olympic) {
    <app-loader/>
    <!--    Si on a un olympic et ses participations, on affiche les données du pays-->
  } @else if (olympic && participations) {
    <h3>{{ olympic.country }}</h3>
    <div id="numberContainer">
      <span>
        <p>Nombres de participations</p>
        <p>{{ olympic.participations?.length }}</p>
      </span>
      <span>
        <p>Nombre de médailles</p>
        <p>{{ nbMedailles }}</p>
      </span>
      <span>
        <p>Nombre d'athlètes</p>
        <p>{{ nbAthletes }}</p>
      </span>
    </div>
    <!--    Puis on affiche le graphique avec les données neccessaires-->
    <app-line-chart [participations]="participations"/>
  }
</div>
