<h2>🏅 Bienvenue sur le Dashboard des Jeux Olympiques</h2>

<p>À l’occasion des prochains Jeux Olympiques, TéléSport vous propose une page interactive pour explorer l’histoire des JO comme jamais auparavant.</p>
<p>📊 <strong>Découvrez les performances des nations à travers les années :</strong> nombre de médailles, classements, comparaisons par pays et par édition.</p>
<p>🔍 <strong>Filtrez, analysez, comparez :</strong> utilisez les outils interactifs pour parcourir les données officielles des précédents Jeux Olympiques et mieux comprendre les enjeux des compétitions à venir.</p>
<p>Ce dashboard a été conçu pour vous offrir une <strong>expérience fluide</strong> sur ordinateur comme sur mobile. Que vous soyez passionné de sport, journaliste ou simple curieux, plongez dans l’univers olympique en un clic !</p>

<app-pie-chart [olympics]="olympics" />
